:root {
	--font: Helvetica;
	--text-color: #363636;
	--accent-color: #5075a1;
	--error-color: #E8505B;
	--success-color: #50a153;
	--background-color: #edf1f5;
	--accent-background-color: #cad5e2;
	--button-color: #F9D641;
	--button-hover-color: #FCE894;
	--button-active-color: #FBB040;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: var(--font, sans-serif);
	color: var(--text-color);
}

h1 {
	margin: 10px auto 0px;
	text-align: center;
	font-size: 1.8em;
}

.form-container {
	width: 500px;
	margin: 10px auto 0px;
	padding: 20px;
	border: 1px solid var(--accent-background-color);
	border-radius: 8px;
	box-sizing: border-box;
	background-color: var(--background-color);
}

@media (max-width: 510px) {

	.form-container {
		width: 100%;
		padding: 15px;
		border: none;
		border-radius: 0;
		box-sizing: border-box;
	}
}

form {
	width: 100%;
}

input,
label {
	display: block;
	box-sizing: border-box;
	font-family: var(--font, sans-serif);
	color: var(--text-color);
}

input {
	width: 100%;
	height: 40px;
	margin: 4px 0px;
	padding: 0px 5px;
	border: 1px solid var(--accent-background-color);
	border-radius: 8px;
	outline: none;
	background-color: #FFF;
	font-size: 1em;
	line-height: 36px;
}

input[type="date"] {
	appearance: auto;
	-webkit-appearance: none;
}

input:focus-visible {
	border: 2px solid var(--accent-color);
}

input.valid {
	border: 2px solid var(--success-color);
}

input.invalid {
	border: 2px solid var(--error-color);
}

label {
	width: fit-content;
	margin: 20px 2px 0px;
	font-size: 0.9em;
}

label:first-child {
	margin-top: 0;
}

label.valid {
	font-weight: bold;
	color: var(--success-color);
}

label.invalid {
	font-weight: bold;
	color: var(--error-color);
}

.submit-button {
	width: 200px;
	height: 50px;
	margin: 20px auto 0px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	background-color: var(--button-color);
}

.submit-button:hover {
	background-color: var(--button-hover-color);
}

.submit-button:active {
	background-color: var(--button-active-color);
}

.submit-button:disabled {
	cursor: not-allowed;
	background-color: var(--accent-background-color);
	color: var(--accent-color);
}

.submit-button:disabled:hover {
	background-color: var(--accent-background-color);
}

.error-message {
	margin: 0px 2px;
	font-size: 0.8em;
	font-weight: bold;
	color: var(--error-color);
}

.info-message {
	margin: 10px 2px;
	font-size: 0.8em;
	color: var(--accent-color);
}

label.invalid .info-message {
	color: var(--error-color);
}

label.valid .info-message {
	display: none;
}